@import "variables";

footer {
	margin-top: 3%;
	.redes {
 		display: flex;
		justify-content: flex-end;
		list-style: none;
		.icono-redes {
			padding: 2%;
			justify-content: flex-end;
			a img {
				width:50px;
				height: 50px;
				@include media(sm) {
					width:40px;
					height: 40px;
  				}
				@include media(xs) {
					width:30px;
					height: 30px;
  				}
			}
		}
	}/*cierra clase general redes*/
	.contacto{
		padding: 2%;
		font-family: 'Paytone One', sans-serif;
		button{
			background-color: $color-gris;
			a {
			text-decoration: none;
			color: black;}
		}
	}
	div p{
		background-color: $color-marron;
		display: block;
		font-size: 0.7em;}
}/*cierra clase footer*/
